version: '3.8'

services:
  database:
    image: postgres:15
    container_name: school_db
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: school_management
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - backend-network

volumes:
  postgres_data:

networks:
  backend-network:
