version: '3.8'

services:
  database:
    image: postgres:15
    container_name: school_db
    restart: on-failure:2
    ports:
      - "5432:5432"
    environment:
      
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - backend-network
  
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5000:5000"
    environment:
    

    depends_on:
      - database
    restart: on-failure:2

volumes:
  postgres_data:

networks:
  backend-network:
